<div class="row">
	<div class="col-md-12">
		<div class="import">
			<form action="./?action=import" method="post">
				<input type="hidden" name="pre_type" value="keychains"/>
				<button type="submit" class="btn blue btn-sm">Importer un fichier CSV</button>
			</form>
		</div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-tags"></i>Liste des trousseaux</div>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table">
					<table id="borrowingsTable" class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th> ID </th>
							<th> Nom </th>
							<th> Clés </th>
							<th> Date de création </th>
							<th> Date de fin</th>
							<th> Actions </th>
						</tr>
						</thead>
						<tbody>
						{% for keychain in keychains %}
							<tr id="{{ keychain.id }}">
								<td> {{ keychain.id }} </td>
								<td> {{ keychain.name }} </td>
								<td>
									{% for key in keychain.keys %}
										<p>{{ key }}</p>
									{% endfor %}
								</td>
								<td> {{ keychain.creationDate }} </td>
								<td> {{ keychain.destructionDate }} </td>
								<td>
									<form action="./?action=updateKeychain" method="post">
										<input type="hidden" name="update" value="{{ keychain.id }}"/>
										<button type="submit" class="btn blue btn-sm">Modifier</button>
									</form>

									<!--<form action="" method="post">-->
									<input type="hidden" name="delete" value="{{ keychain.id }}"/>
									<button type="submit" class="btn red btn-sm btn-delete-kc" value="{{ keychain.id }}">Supprimer</button>
									<!--</form>-->
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<th> ID </th>
							<th> Nom </th>
							<th> Clés </th>
							<th> Création </th>
							<th> Fin</th>
							<th> Actions </th>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
