	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-key"></i> Liste des clés  </div>
					<div class="tools">
						<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
							<tr>
								<th> #id </th>
								<th> Key name </th>
								<th> Key Supplier </th>
								<th> Key type </th>
								<th> Key lock </th>
								<th> Key copies </th>
								<th> #actions </th>
							</tr>
							</thead>
							<tbody>
							{% for key in keys %}
								<tr id="{{ key.id }}">
									<td> {{ key.id }} </td>
									<td> {{ key.name }} </td>
									<td> {{ key.supplier }} </td>
									<td> {{ key.type }} </td>
									<td>
										{% for lock in key.locks %}
											<p>{{ lock }}</p>
										{% endfor %}
									</td>
									<td>
										<p
											{% if key.copies < 3 %}
												class="text-danger"
											{% elseif key.copies < 6 %}
												class="text-warning"
											{% endif %}
										>{{ key.copies }}</p>
									</td>

									<td>
										<form action="./?action=updatekey" method="post">
											<input type="hidden" name="update" value="{{ key.id }}"/>
											<button type="submit" class="btn blue btn-sm">Modifier</button>
										</form>

										<!--<form action="" method="post">-->
											<input type="hidden" name="delete" value="{{ key.id }}"/>
											<button type="submit" class="btn red btn-sm btn-delete-k" value="{{ key.id }}">Supprimer</button>
										<!--</form>-->
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>
	</div>
