<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-key"></i> Liste des utilisateurs  </div>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th> enssatPrimaryKey </th>
							<th> ur1identifier </th>
							<th> username </th>
							<th> name </th>
							<th> surname </th>
							<th> status </th>
							<th> phone </th>
							<th> email </th>
							<th> #actions </th>
						</tr>
						</thead>
						<tbody>
						{% for user in users %}
							<tr id="{{ user.enssatPrimaryKey }}">
								<td> {{ user.enssatPrimaryKey }} </td>
								<td> {{ user.ur1identifier }} </td>
								<td> {{ user.username }} </td>
								<td> {{ user.name }} </td>
								<td> {{ user.surname }} </td>
								<td> {{ user.status }} </td>
								<td> {{ user.phone }} </td>
								<td> {{ user.email }} </td>

								<td>
									<form action="./?action=updateUser" method="post">
										<input type="hidden" name="update" value="{{ user.enssatPrimaryKey }}"/>
										<button type="submit" class="btn blue btn-sm">Modifier</button>
									</form>

									<!--<form action="" method="post">-->
									<input type="hidden" name="delete" value="{{ user.user_enssatPrimaryKey }}"/>
									<button type="submit" class="btn red btn-sm btn-delete-u" value="{{ user.enssatPrimaryKey }}">Supprimer</button>
									<!--</form>-->
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
