<div class="row">
	<div class="col-md-12">
		<div class="import">
			<form action="./?action=import" method="post">
				<input type="hidden" name="pre_type" value="doors"/>
				<button type="submit" class="btn blue btn-sm">Importer un fichier CSV</button>
			</form>
		</div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-columns"></i> Liste des portes  </div>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table">
					<table id="borrowingsTable" class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th> ID </th>
							<th> Nom </th>
							<th> Salle </th>
							<th> Actions </th>
						</tr>
						</thead>
						<tbody>
						{% for door in doors %}
							<tr id="{{ door.id }}">
								<td> {{ door.id }} </td>
								<td> {{ door.name }} </td>
								<td> {{ door.room }} </td>
								<td>
									<form action="./?action=updateDoor" method="post">
										<input type="hidden" name="update" value="{{ door.id }}"/>
										<button type="submit" class="btn blue btn-sm">Modifier</button>
									</form>

									<!--<form action="" method="post">-->
									<input type="hidden" name="delete" value="{{ door.id }}"/>
									<button type="submit" class="btn red btn-sm btn-delete-d" value="{{ door.id }}">Supprimer</button>
									<!--</form>-->
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<th> ID </th>
							<th> Nom </th>
							<th> Salle </th>
							<th> Actions </th>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
