	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-arrows-h"></i> Liste des emprunts </div>
					<div class="tools">
						<a href="javascript:;" class="collapse" data-original-title="" title=""></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table">
						<table id="filterTable" class="table table-striped table-bordered table-hover dataTable">
							<thead>
							<tr>
								<th> ID </th>
								<th> Utilisateur </th>
								<th> Trousseau </th>
								<th> Date d'emprunt </th>
								<th> Date de retour prévu </th>
								<th> Date de retour </th>
								<th> Date de perte </th>
								<th> Statut </th>
								<th> Actions </th>
							</tr>
							</thead>

							<tbody>
							{% for borrowing in borrowings %}
								<tr id="{{ borrowing.id }}">
									<td> {{ borrowing.id }} </td>
									<td>
										{% for user in users %}
											{% if user.enssatPrimaryKey == borrowing.user %}
												<p>{{ user.name ~ " " ~ user.surname}}</p>
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for keychain in keychains %}
											{% if keychain.id == borrowing.keychain %}
												<p>{{ keychain.name }}</p>
											{% endif %}
										{% endfor %}
									</td>
									<td> {{ borrowing.borrowDate}} </td>
									<td id="dueDate"> {{ borrowing.dueDate }} </td>
									<td> {{ borrowing.returnDate }} </td>
									<td> {{ borrowing.lostDate }} </td>
									<td> {{ borrowing.status }} </td>
									<td style="display: flex;">

										<form action="./?action=updateBorrowing" method="post">
											<input type="hidden" name="update" value="{{ borrowing.id }}"/>
											<button type="submit" class="btn blue btn-sm">Modifier</button>
										</form>

										<input type="hidden" name="extend" value="{{ borrowing.id }}"/>
										<button type="submit" class="btn green btn-sm btn-extend-b" value="{{ borrowing.id }}"
											{% if borrowing.status == 'returned' %} disabled {% endif %}
										>Prolonger</button>

										<!--<form action="" method="post">-->
										<input type="hidden" name="delete" value="{{ borrowing.id }}"/>
										<button type="submit" class="btn red btn-sm btn-delete-b" value="{{ borrowing.id }}">Supprimer</button>
										<a href="?action=detailedBorrowing&id={{ borrowing.id }}">
											<button type="button" class="btn purple btn-sm">Détails</button>
										</a>
										<!--</form>-->
									</td>
								</tr>
							{% endfor %}
							</tbody>
							<tfoot>
								<th> ID </th>
								<th> Utilisateur </th>
								<th> Trousseau </th>
								<th> Emprunt </th>
								<th> Prévu </th>
								<th> Retour </th>
								<th> Perte </th>
								<th> Statut </th>
								<th> Actions </th>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>
	</div>
