<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-arrows-h"></i> Liste des emprunts en retard </div>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table">
					<table id="borrowingsTable" class="table table-striped table-bordered table-hover dataTable">
						<thead>
						<tr>
							<th> ID </th>
							<th> Utilisateur </th>
							<th> Date d'emprunt </th>
							<th> Statut </th>
							<th> Actions </th>
						</tr>
						</thead>

						<tbody>
						{% for key, borrowing in borrowings %}
							<tr id="{{ borrowing.id }}">
								<td> {{ borrowing.id }} </td>
								<td> {{ borrowing.user }} </td>
								<td> {{ borrowing.borrowDate}} </td>
								<td>
									{% if borrowing.status == 'en retard' %}
										<p class="text-danger">En retard</p>
									{% endif %}
								</td>
								<td style="display: flex;">
									<a href="?action=detailedBorrowing&id={{ borrowing.id }}"><button type="button" class="btn purple btn-sm">Détails</button></a>
									<a href="{{ emails[key] }}"><button type="button" class="btn yellow-crusta btn-sm">Relance</button></a>
									<!--</form>-->
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
						<th> ID </th>
						<th> Utilisateur </th>
						<th> Emprunt </th>
						<th> Statut </th>
						<th> Actions </th>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
